.graph {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  /* background-color: magenta; */
}
canvas {
  margin-left: 5%;
  max-height: 300px;
  max-width: 300px;
}

.graph__suggestions {
  margin-right: 5%;
  font-size: 1rem;
  font-weight: 200;
}

.graph__suggestions h1 {
  font-weight: 500;
  font-size: 2rem;
}
